@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
	<a asp-area="" asp-controller="Checkout" asp-action="Index" class="navbar-brand"><i class="fas fa-cart-arrow-down"></i> Proceed to checkout</a>
</div>
