@{
	ViewData["Title"] = "Checkout";
}

<div class="container">
	<div class="row">
		<div class="col-md-9">
			<h3>Order Id: @TempData["OrderId"]</h3>
		</div>
	</div>
</div>
<br />
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<b>Building Microservices: Designing Fine-Grained Systems</b> by Sam Newman
		</div>
		<div class="col-md-2">
			$23.99
		</div>
		<div class="col-md-1">
			1
		</div>
	</div>
	<div class="row">
		<div class="col-md-9">
			<b>Clean Architecture: A Craftsman's Guide to Software Structure and Design (Robert C. Martin Series)</b> by Robert C. Martin
		</div>
		<div class="col-md-2">
			$30.82
		</div>
		<div class="col-md-1">
			1
		</div>
	</div>
</div>
<br />
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<form asp-controller="checkout" asp-action="placeorder" method="post">
				<input type="hidden" name="orderId" value="@TempData["OrderId"]"/>

				<button type="submit" class="btn btn-primary btn-lg">Place your order</button>
			</form>
		</div>
	</div>
</div>

<br /><br />
<hr/>
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<a href="https://docs.particular.net/tutorials/quickstart/" target="_blank">
				<img width="680" height="auto" src="https://docs.particular.net/tutorials/quickstart/after.svg" />
			</a>
		</div>
	</div>
</div>