@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
	<p>You have 2 items in your cart.</p>
	<a asp-area="" asp-controller="Checkout" asp-action="Index" class="btn btn-primary"> <i class="fas fa-cart-arrow-down"></i> Proceed to checkout</a>
</div>
